* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  text-decoration: none;
}

a:hover {
  transform: scale(1, 1.09);
  color: black;
  text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.651);
}

.bg-principal {
  background-image: url(../../means/images/fondobg1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.btn {
  font-size: 1.5rem;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10%;
  border: 2px solid black;
  grid-area: af;
}
.btn:hover {
  color: white;
  background-color: black;
  border: 3px solid;
}

.button {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 30px;
}

.div-svg {
  overflow: hidden;
}

.svgAnimation {
  width: 35%;
  animation-name: animation-1;
  animation-duration: 15s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes animation-1 {
  0% {
    transform: translate(-200%, 0px);
  }
  100% {
    transform: translate(200%, 0px);
  }
}
.header__nav__listaLi:hover {
  transform: scale(1, 1.3);
  text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.651);
}

.header__miPortada__titulo {
  background-color: rgba(255, 255, 255, 0.288);
  font-size: 2rem;
  text-align: center;
  padding: 10px 40px;
  margin: 50px;
  border-radius: 25px;
  position: sticky;
  top: 10px;
  animation-name: mover-titulo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transition-timing-function: ease;
}

@keyframes mover-titulo {
  10% {
    transform: translate(0px, 100px);
  }
  70% {
    transform: scale(1.1, 1.5);
  }
}
.header__nav__lista {
  animation-name: efecto-nav;
  animation-duration: 3s;
}

@keyframes efecto-nav {
  from {
    transform: translate(0, -50px);
  }
}
.header {
  background-image: url(../means/images/motoagua.jpeg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-section {
  width: 50%;
  border-radius: 10%;
}

.sections__pags {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.sections_pags__div__especifi {
  width: 80%;
  margin: auto;
  gap: 5px;
  margin: 40px auto;
  padding: 10px;
  background: rgba(208, 208, 208, 0.507);
  background: radial-gradient(circle, rgba(208, 208, 208, 0.507) 94%, rgba(230, 232, 0, 0.8267682073) 96%, rgb(7, 20, 189) 97%, rgb(189, 7, 7) 99%);
  border: 3px solid rgb(49, 49, 49);
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections_pags__div__especifi:hover {
  box-shadow: 0px 0px 10px 5px black;
}

.sections_pags__div__especifi__h2 {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .sections__pags {
    margin: 0px, 0px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, 50%);
  }
  .sections_pags__div__especifi {
    background: rgba(208, 208, 208, 0.507);
    background: radial-gradient(circle, rgba(208, 208, 208, 0.507) 94%, rgba(230, 232, 0, 0.8267682073) 96%, rgb(7, 20, 189) 97%, rgb(189, 7, 7) 99%);
    height: 50vh;
    width: 35vw;
    padding: 5px;
    margin: 60px auto;
    border: 3px solid rgb(49, 49, 49);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.text-help {
  font-size: 1rem;
  text-align: center;
}

.sections_pags__div__especifi p {
  font-size: 0.6rem;
  text-align: center;
}

.articulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.articulos__ind, .articulos__ind__promo {
  background-color: rgba(255, 255, 255, 0.288);
  width: 80%;
  padding: 20px;
  margin: 40px 0;
  border: 3px solid rgb(32, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.articulos__ind:hover, .articulos__ind__promo:hover {
  box-shadow: 0px 0px 10px 5px black;
}

.articulos__ind__promo {
  box-shadow: rgba(251, 255, 0, 0.685) 0px 0px 20px 5px;
}
.articulos__ind__promo:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(74deg, rgba(0, 0, 0, 0.8183648459) 38%, rgba(255, 0, 0, 0.808) 51%, rgba(16, 244, 15, 0.7987570028) 69%, rgba(255, 132, 0, 0.9360119048) 92%);
  color: white;
}

.articulos__ind__img {
  width: 60%;
  height: 20vh;
  border-radius: 20%;
}
.articulos__ind__img:hover {
  transform: scale(1.1, 1.1);
}

.articulos__ind__h3 {
  font-size: 1.8rem;
  text-align: center;
}

.articulos__ind__p {
  font-size: 1rem;
  text-align: center;
}

li span {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .articulos__ind, .articulos__ind__promo {
    width: 60%;
    padding: 10px;
    border: 3px solid rgb(32, 30, 30);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "h3 h3 h3" "img img par" "af af af";
    justify-items: center;
    align-items: center;
  }
  .articulos__ind__h3 {
    grid-area: h3;
    font-size: 1.8rem;
  }
  .articulos__ind__img {
    width: 40%;
    height: 30vh;
    grid-area: img;
    justify-self: flex-start;
    margin-left: 30px;
  }
  .articulos__ind__p {
    grid-area: par;
    font-size: 1rem;
  }
  .btn {
    font-size: 2vw;
    padding: 5px 50px;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
  }
  .bg-text {
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 5%;
  }
}
.btn {
  font-size: 1.5rem;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10%;
  border: 2px solid black;
  grid-area: af;
}
.btn:hover {
  color: white;
  background-color: black;
  border: 3px solid;
}

.button {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 30px;
}

.header__inventary {
  background-image: url(../means/images/Inventary.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.header__accessories {
  background-image: url(../means/images/Accessories.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.header__contact {
  background-image: url(../means/images/centro-contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form-contact__h4 {
  font-size: 0.9rem;
  text-align: center;
}

.tabla__model {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.288);
  padding: 15px;
}

.form-contact {
  font-size: 1.5rem;
  height: 140vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form-contact__label {
  width: 60%;
}

.header__about {
  /* mejorar por mejor calidad */
  background-image: url(../means/images/interiorempresa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sizing-img {
  width: 75%;
  border-radius: 10%;
}

@media (min-width: 768px) {
  .sizing-img {
    width: 40%;
    padding: 20px;
  }
}
.footer {
  background-color: rgba(192, 192, 192, 0.74);
}

.bi-facebook:hover {
  color: blue;
}

.bi-instagram:hover {
  color: darkmagenta;
}

.bi-twitter:hover {
  color: aqua;
}

.bi-whatsapp:hover {
  color: green;
}

/*# sourceMappingURL=styles.css.map */
