.header__about {
    /* mejorar por mejor calidad */
    background-image: url(../means/images/interiorempresa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sizing-img {
    width: 75%;
    border-radius: 10%;
}


@media (min-width:768px) {
    .sizing-img {
        width: 40%;
        padding: 20px;
    }

}