.header__about {
    /* mejorar por mejor calidad */
    background-image: url(../means/images/interiorempresa.jpg);
    @include header-pags()
}

.sizing-img {
    width: 75%;
    border-radius: 10%;
}


@media (min-width:768px) {
    .sizing-img {
        width: 40%;
        padding: 20px;
    }

}