.header__contact {
    background-image: url(../means/images/centro-contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.form-contact__h4 {
    font-size: 0.9rem;
    text-align: center;
}