.header__inventary {
    background-image: url(../means/images/Inventary.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}