.footer {
    background-color: rgba(192, 192, 192, 0.74);
}

.bi-facebook:hover {
    color: blue;

}

.bi-instagram:hover {
    color: darkmagenta;
}

.bi-twitter:hover {
    color: aqua;
}

.bi-whatsapp:hover {
    color: green;

}