.footer {
    background-color: rgba(173, 161, 161, 0.61);
}

.bi-facebook:hover {
    color: blue;

}

.bi-instagram:hover {
    color: darkmagenta;
}

.bi-twitter:hover {
    color: aqua;
}

.bi-whatsapp:hover {
    color: green;
}