.form-contact {

    font-size: 1.5rem;
    height: 140vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.form-contact__label{
    width: 50%;
}