.articulos {
    @include flex();
    gap: 30px;
}

.articulos__ind {
    background-color: $color-fondo;
    width: 80%;
    padding: 20px;
    margin: 40px 0;
    border: 3px solid rgb(32, 30, 30);
    @include flex();
    gap: 10px;

    &:hover {
        box-shadow: 0px 0px 10px 5px black;
    }
}

.articulos__ind__promo {
    @extend .articulos__ind;
    box-shadow: rgba(251, 255, 0, 0.685) 0px 0px 20px 5px;

    &:hover {
        background: rgb(0, 0, 0);
        background: linear-gradient(74deg, rgba(0, 0, 0, 0.8183648459383753) 38%, rgba(255, 0, 0, 0.808) 51%, rgba(16, 244, 15, 0.7987570028011204) 69%, rgba(255, 132, 0, 0.9360119047619048) 92%);
        color: white;
    }
}

.articulos__ind__img {
    width: 60%;
    height: 20vh;
    border-radius: 20%;

    &:hover {
        transform: scale(1.1, 1.1);
    }
}

.articulos__ind__h3 {
    font-size: $size-font-first;
    text-align: center;
}

.articulos__ind__p {
    font-size: $size-font-secund;
    text-align: center;
}

li span {
    margin-left: 10px;
}

@media (min-width:768px) {
    .articulos__ind {
        width: 60%;
        padding: 10px;
        border: 3px solid rgb(32, 30, 30);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "h3 h3 h3"
            "img img par"
            "af af af";
        justify-items: center;
        align-items: center;
    }

    .articulos__ind__h3 {
        grid-area: h3;
        font-size: $size-font-first;
    }

    .articulos__ind__img {
        width: 40%;
        height: 30vh;
        grid-area: img;
        justify-self: flex-start;
        margin-left: 30px;
    }

    .articulos__ind__p {
        grid-area: par;
        font-size: $size-font-secund;
    }

    .btn {
        font-size: 2vw;
        padding: 5px 50px;
        display: inline-block;
        text-align: center;
        border-radius: 10%;
    }


    .bg-text {
        background-color: $color-fondo;
        border-radius: 5%;
    }
}