* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', 'cursive';
  }

li {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}

.nav-link {
    text-decoration: none;
  }